{% extends 'ArchiveTools/layout.html' %}
{% block title %}Ver Formato{% endblock %}
{% block body %}
{% include "ArchiveTools/navbar.html" %}

<section class="w-full bg-white">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

                <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24">
                    <h1 class="text-center max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
                        Visualizar el formato de<br class="hidden lg:block" />
                        Varios tipos de archivos
                      </h1>
                      <br>
                      
                    <div class="overflow-x-auto rounded-lg border border-gray-200">
                        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                          <thead class="ltr:text-left rtl:text-right">
                            <tr>
                              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                Nombre
                              </th>
                              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                Fecha de creacion
                              </th>
                              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                Tipo de Archivo
                              </th>
                            </tr>
                          </thead>
                      
                          <tbody class="divide-y divide-gray-200">
                            <tr>
                              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
                                {{ fecha_modificacion }}
                              </td>
                              <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ fecha_creacion }}</td>
                              <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ tipo_archivo }}</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                <div class="flex justify-center w-full max-w-2xl gap-2 mx-auto mt-6">
                  <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                      <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"  fill="none" viewBox="0 0 20 16">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                          <span class="font-semibold">Click to upload</span> or drag and drop
                        </p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                      </div>
                      <input id="dropzone-file" name="archivo" type="file" class="hidden" />
                    </label>
                  </div>
                </div>
                <div class="flex flex-col items-center justify-center pt-5 pb-6"> 
                <button class="px-5 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-orange-600 lg:px-10 rounded-xl hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">Ver Formato</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
      </section>


{% include "ArchiveTools/foother.html" %}
{% endblock %} 